@font-face {
    font-family: sonalilipi;
    src: url('../font/SolaimanLipi.ttf');
  }
body {
    background: #fff; 
    font-family: sonalilipi;
}
.menu-item.menu-item-active > .menu-link .menu-icon i {
    color: #3699FF !important;
}
.brand-logo img{
    width: 160px;
}
.partners img {
    width: 150px;
}
/* @media screen and (min-width: 992px){
    .header-fixed.subheader-fixed.subheader-enabled .wrapper {
        padding-top: 60px;
    }
} */
.full-width-footer .footer{
    left: 0 !important;
}

.split {
    height: 100%;
}

.split > div {
    float: left;
    height: calc(100vh - 100px);
    overflow: auto;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}
.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}
.aside-menu .menu-nav > .menu-item {
    margin-right: 15px;
}
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link {
    background-color: #c1e0ff !important;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.aside-menu .menu-link:hover {
    background-color: #F3F6F9 !important;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.aside-menu .menu-nav > .menu-item > .menu-link {
    padding: 5px 25px !important;
    min-height: 36px !important;
}