#show-pdf-button {
	width: 150px;
	display: block;
	margin: 20px auto;
}

#file-to-upload {
	display: none;
}

#pdf-main-container {
	margin: 0px auto;
}

#pdf-loader {
	display: none;
	text-align: center;
	color: #999999;
	font-size: 13px;
	line-height: 100px;
	height: 100px;
}

#pdf-contents {
	display: none;
}

#pdf-meta {
	overflow: hidden;
	margin: 0 0 20px 0;
}

#pdf-buttons {
	float: left;
}

#page-count-container {
	float: right;
}

#pdf-current-page {
	display: inline;
}

#pdf-total-pages {
	display: inline;
}

#pdf-canvas {
	border: 1px solid rgba(0,0,0,0.2);
	box-sizing: border-box;
    margin: 0 auto;
}

#page-loader {
	height: 100px;
	line-height: 100px;
	text-align: center;
	display: none;
	color: #999999;
	font-size: 13px;
}
.border-right{
    border-right: 1px solid #000;
}
.pdf-viewer-wrapper{
    width: 757px;
    text-align: center;
    margin: 0 auto;
}
.signature-wrapper{
    width: 757px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.single-signature-main-wrapper{
    padding: 5px;
    border: 1px solid #000;
    background: #efefef;
    cursor: move;
    position: absolute;
    left: 0;
    top: 0;
    min-width: 200px;
}
.clossButton{
    height: 24px;
    width: 24px;
    background: #f44336;
    padding: 8px;
    color: #fff;
    border-radius: 50%;
    display: block;
    vertical-align: middle;
    line-height: 0.8;
    position: absolute;
    right: -13px;
    top: -13px;
    font-size: 12px;
    z-index: 99;
    cursor: pointer;
}